* @serv7n

/back-end/src/main/java/leandro/aneloja/product/controller/ @serv7n
/back-end/src/main/java/leandro/aneloja/product/service/ @serv7n
/back-end/src/main/java/leandro/aneloja/product/repository/ @serv7n
/back-end/src/main/java/leandro/aneloja/shared/ @serv7n
